{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_filterws/modal

    Modal to add Filter WS tags within the Tiny Editor.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:

    Example context (json):
    {
        "elementid": "exampleId",
        "haspredefinedfilters": true,
        "predefinedfilters": [
            {
                "name": "Official Moodle App",
                "value": 0,
            },
        ],
    }
}}

{{< core/modal }}

    {{$title}}
        {{#str}} insertfilterws, tiny_filterws {{/str}}
    {{/title}}

    {{$body}}
        <form class="tiny_filterws_form">

{{# haspredefinedfilters }}
            <div class="mb-2">
                <label class="w-100" for="{{elementid}}_tiny_filterws_predefined">{{#str}} predefined, tiny_filterws {{/str}}</label>
                <div class="input-group input-append w-100">
                    <select id="{{elementid}}_tiny_filterws_predefined" class="form-select tiny_filterws_predefined">
                        {{#predefinedfilters}}
                            <option value="{{index}}">{{name}}</option>
                        {{/predefinedfilters}}
                    </select>
                    <button class="btn btn-secondary tiny_filterws_apply_predefined" type="button">{{#str}} apply, tiny_filterws {{/str}}</button>
                </div>
            </div>
{{/ haspredefinedfilters }}

            <div class="mb-2 d-flex flex-wrap align-items-center gap-2">
                <label for="{{elementid}}_tiny_filterws_origin">
                    {{#str}} origin, tiny_filterws {{/str}}
                    {{#originhelpicon}}
                        {{> core/help_icon }}
                    {{/originhelpicon}}
                </label>
                <select id="{{elementid}}_tiny_filterws_origin" class="form-select tiny_filterws_origin">
                    <option value="web">{{#str}} originweb, tiny_filterws {{/str}}</option>
                    <option value="ws">{{#str}} originws, tiny_filterws {{/str}}</option>
                    <option value="any">{{#str}} originany, tiny_filterws {{/str}}</option>
                </select>
            </div>

            <div class="mb-2">
                <label for="{{elementid}}_tiny_filterws_useragent">
                    {{#str}} filteruseragent, tiny_filterws {{/str}}
                    {{#filteruseragenthelpicon}}
                        {{> core/help_icon }}
                    {{/filteruseragenthelpicon}}
                </label>
                <input id="{{elementid}}_tiny_filterws_useragent" class="form-control fullwidth tiny_filterws_useragent" type="text" value="" size="32"/>
            </div>

        </form>
    {{/body}}

    {{$footer}}
        <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}} cancel, moodle {{/str}}</button>
        <button type="button" class="btn btn-primary" data-action="save">{{#str}} insert, tiny_filterws {{/str}}</button>
    {{/footer}}
{{/ core/modal }}
